<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoFinal</display-name>
  <welcome-file-list>
    <welcome-file>index02.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <!-- 
    <welcome-file>index.jsp</welcome-file>
    -->
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletSala</display-name>
    <servlet-name>ServletSala</servlet-name>
    <servlet-class>servlet.ServletSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSala</servlet-name>
    <url-pattern>/ServletSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadeira</display-name>
    <servlet-name>ServletCadeira</servlet-name>
    <servlet-class>servlet.ServletCadeira</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadeira</servlet-name>
    <url-pattern>/ServletCadeira</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFilme</display-name>
    <servlet-name>ServletFilme</servlet-name>
    <servlet-class>servlet.ServletFilme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFilme</servlet-name>
    <url-pattern>/ServletFilme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSessao</display-name>
    <servlet-name>ServletSessao</servlet-name>
    <servlet-class>servlet.ServletSessao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSessao</servlet-name>
    <url-pattern>/ServletSessao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIngresso</display-name>
    <servlet-name>ServletIngresso</servlet-name>
    <servlet-class>servlet.ServletIngresso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIngresso</servlet-name>
    <url-pattern>/ServletIngresso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCliente</display-name>
    <servlet-name>ServletCliente</servlet-name>
    <servlet-class>servlet.ServletCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCliente</servlet-name>
    <url-pattern>/ServletCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTipo</display-name>
    <servlet-name>ServletTipo</servlet-name>
    <servlet-class>servlet.ServletTipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTipo</servlet-name>
    <url-pattern>/ServletTipo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReserva</display-name>
    <servlet-name>ServletReserva</servlet-name>
    <servlet-class>servlet.ServletReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReserva</servlet-name>
    <url-pattern>/ServletReserva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlet.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
</web-app>